<div id="gameView">
<h2>Guide: {{ guide.title }}</h2>


<h3> Creator: {{ guide.creator }} </h3>

<p> Body: {{ guide.body }} </p>
{{#if_eq userInSession.username guide.creator}}
<a href="/guides/{{guide.id}}/edit">Edit Guide</a>
{{/if_eq}}
</div>
<h2>Comments</h2>
{{#if userInSession}}
<div id="form">
  <h2>Create Comment</h2>
  <form action="/guides/{{guide.id}}/comment" method="POST">
    <label> Comment
      <input type="text" name="comment" style="height:200px;width:400px;"/>
    </label>
    <button type="submit">Post Comment</button>
  </form>
</div>
{{/if}}
{{#if comments}}
    {{#each comments}}
        <p>Comment by: {{this.commenter}}</p>
        <p>{{this.comment}}</p>
        {{#if_eq ../userInSession.username this.commenter}}
        <form action="/guides/{{../guide.id}}/{{this.id}}/delete" method="DELETE">
          <input type="submit" value="Delete Comment">
        </form>

        <button id="editButton" href="#editComment" onclick="document.querySelector('#{{this.id}}').style.display = 'block'">Edit Comment</button>
        <form id="{{this.id}}" action="/guides/{{../guide.id}}/{{this.id}}/edit" method="PUT" style="display:none;">
          <input type="text" name="comment" style="height:50px;width:400px;" value="{{this.comment}}"/>
          <button type="submit">Edit Comment</button>
        </form>
        {{/if_eq}}
    {{/each}}
    {{else}}
        <p>No comments found</p>
{{/if}}



